/Asteroids/target/
/k2014-tira-paja/viikko5-5.1.Palindromit/nbproject/private/
/k2014-tira-paja/viikko5-5.2.SamatSummat/nbproject/private/
/k2014-tira-paja/viikko5-5.4.Laskutoimitus/nbproject/private/
/k2014-tira-paja/viikko6-6.1.Young/nbproject/private/
/k2014-tira-paja/viikko5-5.3.ParasReitti/nbproject/private/
/k2014-tira-paja/viikko6-6.2.Odotushuone/nbproject/private/
/k2014-tira-paja/viikko6-6.5.Tekstianalyysia/nbproject/private/
/k2014-tira-paja/viikko6-6.4.Kiertopeli/nbproject/private/
/k2014-tira-paja/viikko6-6.3.Kuningattaret/nbproject/private/
/k2014-tira-paja/viikko5-5.2.SamatSummat/build/
/k2014-tira-paja/viikko5-5.3.ParasReitti/build/
/k2014-tira-paja/viikko5-5.3.ParasReitti/dist/